<html>
<head>
</head>
<body>



<!--     https://www.flaticon.com/free-icon/ -->

<img src="/images/left-arrow.svg" class="wdh32x32">
<img src="/images/right-arrow.svg" class="wdh32x32">
<img src="/images/contrast.svg" class="wdh32x32">
<img src="/images/read-button.svg" class="wdh32x32">
<img src="/images/play-button.svg" class="wdh32x32">

<img src="/images/read-button-sel.svg" class="rdpl">
<img src="/images/play-button-sel.svg" class="rdpl">
<div class="tooltip" title="Iam a text">I am a text;</div>
 

<link rel="stylesheet" href="http://18.191.160.243:3003/stylesheets/style.css">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.13.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
<script src="http://18.191.160.243:3003/javascripts/audioeye-widget.js"></script>

</body>
</html>